<h1>index spendings</h1>
<% @spendings.each do |spending| %>
  <%= spending.amount %>
  <%= spending.category %>
  <%= spending.date %>
<<<<<<< HEAD
=======
  <br>
>>>>>>> 3f58b39a1b4dca74cfa9e517a3cad5670ef00c3a
<% end %>
