// Specific CSS for your home-page
.first-div-landing{
  display: flex;
  height:90vh;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  .first-div-text{
    max-width: 780px;
    p{
      margin-bottom: 40px;
      margin-top: 20px;
    }
  }
  img{
    height: auto;
    width: 190px;
    border-radius: 120px;
  }
  margin-bottom: 4px;
}

h1{
  font-weight: 700;
  font-size: 64px;
}

h2{
  font-weight: 700;
  font-size: 40px;
}
.second-div-landing {
  background-color: #0D1B23;
  padding: 0px 40px 0px 40px;
  color:white;
  height:400px;
  text-align: center;
  display: flex;
  align-items: center;
  .list-avantages{
    display:flex;
    margin-top: 60px;
  }
}

.third-div-landing{
  display:flex;
  justify-content: space-between;
  padding-top:80px;
  img{
    height: 560px;
  }
  .third-div-landing-img{
    width:100%;
  }
}

.third-div-landing-text{
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}

.fourth-div-landing-img{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  img{
    height: 400px;
    border-radius: 8px;
  }
  .container-img-landing{
    position:relative;
    text-align:center;
    color:white;
      .landing-text-img {
      position: absolute;
      top: 8px;
      left: 16px;
    }
  }
}

.container-new{
  margin: 0 auto;
  width: 100%;
  padding: 0px 40px 0px 40px;
  background-color: white;
}

.avantage h3{
  color:#FF5D29;
  font-weight: 700;
}

.third-div-landing-img img{
  border-radius: 8px;
}

.landing-icon{
  color: #FF5D29;
  background-color: rgba(255, 93, 41, 0.2);
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

.icon-size{
  font-size: 28px;
}

.last-title-landing{
    margin-top: 80px;
}

.text-icon{
  padding-left:16px;
}

.last-button-landing{
  display: flex;
  justify-content: center;
}

.homepage-container-image-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4vmin;
}

.premiere-image {
  height: 350px !important;
}

.seconde-image {
  margin-top: 2vmin;
}
