<div class= "background">
  <br>
  <div class="form-container-spending">
    <h2 class="title">Créez votre budget</h2>
  <%= simple_form_for (event) do |f| %>
    <%= f.input :initial_budget, label: false, placeholder: "€" %>
    <div class="button-centered"><input type="submit" name="commit" value="Créer votre budget" class="primary-orange-button-forms" data-disable-with="Create Event"></div>
  <% end %>
  </div>
</div>
