<div class="footer">
  <div class="footer-links">
    <a href="https://eduscol.education.fr/odysseum/dionysos-dieu-du-vin-des-fetes-de-lextase-et-du-delire"><i class="fa-brands fa-google"></i></a>
    <a href="https://www.youtube.com/watch?v=P2Hz6AcrNRQ"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://fr-fr.facebook.com/officieldionysos/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/dionysostweets"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
   <h6>Site web développé par Joy, Adrien et Julien pour Le Wagon</h6>
  </div>
</div>
