
<div class="container">
  <h1>L'album de <%= @event.title %> </h1>
<div class="row">
  <div class="two-columns">
    <% @albums.each do |album| %>
      <% album.photos.each_with_index do |photo, index| %>
          <%= cl_image_tag photo.key %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
