<div class="container">
  <div class="title-album"><h1>Album "<%= @event.title %>"</h1>
  <%= link_to "Retourner à l'événement", event_path(@event), class:"primary-orange-button" %></div>
  <div class="row">
    <div class="two-columns">
      <% @albums.each do |album| %>
        <% album.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
