<div class="container-new">
    <div class="first-div-landing">
      <div class="first-div-text">
        <h1>Organisez votre événement en toute simplicité.</h1>
        <h5>Avec Dionysos, rassemblez toutes les fonctionnalités nécessaires  à l’organisation
        de votre événement dans une seule interface !</h5>
        <%= link_to "Créez votre événement", new_event_path, class:"landing-orange-button" %>
      </div>
      <div class="first-div-images d-flex">
        <div class="align-items-center ">
          <img src="https://images.pexels.com/photos/3171770/pexels-photo-3171770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
          <img src="https://images.pexels.com/photos/1164985/pexels-photo-1164985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        </div>
        <div class="img-solo d-flex align-items-center">
          <img src="https://images.unsplash.com/photo-1517263904808-5dc91e3e7044?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="second-div-landing">
    <div>
      <h2>Dionysos vous facilite la gestion de vos festivités</h2>
      <div class="list-avantages">
        <div class="avantage">
          <h3>Rassemblez</h3>
          <h5>les outils utiles à l'organisation de votre événement sur une unique plateforme</h5>
        </div>
        <div class="avantage">
          <h3>Communiquez</h3>
          <h5>efficacement avec vos invités : invitations, relances, etc...</h5>
        </div>
        <div class="avantage">
          <h3>Gérez</h3>
          <h5>votre budget et vos dépenses pour ne rien laisser au hasard</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="container-new">
    <div class="third-div-landing justify-content-between">
      <div class="third-div-landing-img">
        <img src="https://res.cloudinary.com/dct6y4tya/image/upload/v1669977132/Group_25_ihpdkm.png" alt="">
      </div>
      <div class="third-div-landing-text d-flex">
        <div>
          <h1>Comment ça</h1>
          <h1>marche ?</h1>
        </div>
        <div class="d-flex align-items-center">
          <div>
            <i class="fa-solid fa-right-to-bracket landing-icon icon-size"></i>
          </div>
          <div class="text-icon">
            <h3>Inscrivez vous</h3>
            <h5>Enregistrez vos informations pour participer aux événements de vos proches et créer votre propre événement</h5>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div>
            <i class="fa-solid fa-circle-plus landing-icon icon-size"></i>
          </div>
          <div class="text-icon">
            <h3>Créez votre premier événement</h3>
            <h5>Enregistrez votre événement et accédez à votre tableau de bord</h5>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div>
            <i class="fa-solid fa-user-plus landing-icon icon-size"></i>
          </div>
          <div class="text-icon">
            <h3>Invitez vos proches</h3>
            <h5>Invitez vos amis et votre famille par email ou SMS</h5>
          </div>
        </div>
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-bars-progress landing-icon icon-size"></i>
          </div>
          <div class="text-icon">
            <h3>Gérez votre événement</h3>
            <h5>Gérez votre budget, l’album photo de votre événement et vos invités en quelques clics</h5>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h1 class="last-title-landing">Une infinité de</h1>
      <h1>possibilités</h1>
    </div>

    <div class="fourth-div-landing-img">
      <div class="container-img-landing">
        <img src="https://images.pexels.com/photos/948185/pexels-photo-948185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="landing-text-img">Mariage</div>
      </div>
      <div class="container-img-landing">
        <img src="https://images.pexels.com/photos/1729797/pexels-photo-1729797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="landing-text-img">Anniversaire</div>
      </div>
      <div class="container-img-landing">
        <img src="https://images.pexels.com/photos/1164985/pexels-photo-1164985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="landing-text-img">Célébration</div>
      </div>
      <div class="container-img-landing">
        <img src="https://images.pexels.com/photos/3171770/pexels-photo-3171770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <div class="landing-text-img">Champagne</div>
      </div>
    </div>

    <div class="last-button-landing">
      <%= link_to "Créez votre événement", new_event_path, class:"landing-orange-button button-bottom-landing" %>
    </div>
  </div>
</div>
