.landing-orange-button {
  background-color: #FF5D29;
  text-decoration: none;
  color: white;
  border-radius: 120px;
  font-weight: 700;
  transition-duration: 0.2s;
  font-size: 20px;
  padding:12px 20px;
}

.landing-orange-button:hover {
  padding:16px 24px;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.button-bottom-landing{
display:inline-block;
margin: 120px 120px;
}
