.primary-orange-button {
  background-color: #FF5D29;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-family: 'Barlow';
  font-weight: 600;
  transition-duration: 0.3s;
  padding: 12px 20px;
}
.primary-orange-button:hover {
  background-color: #ff9774;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}


.large-orange-button {
  background: #FF5D29;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-family: 'Barlow';
  font-weight: 600;
  padding: 12px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.large-orange-button:hover {
  background-color: #ff9774;
  color: white;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}


.large-light-orange-button {
  background: #FFE0D7;
  border-radius: 4px;
  text-decoration: none;
  color: #FF5D29;
  font-family: 'Barlow';
  font-weight: 600;
  padding: 12px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.large-light-orange-button:hover {
  color: #FF5D29;
  background-color: #fff0eb;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}


.large-blue-button {
  background: #101B22;
  border-radius: 4px;
  text-decoration: none;
  color: #CCEBFF;
  font-family: 'Barlow';
  font-weight: 600;
  padding: 12px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  transition-duration: 500ms;
  transition: ease-in-out;
  transition-property: margin-bottom;
}
.large-blue-button:hover {
  color: #CCEBFF;
}

.large-light-blue-button {
  background: #CCEBFF;
  border-radius: 4px;
  text-decoration: none;
  color: #101B22;
  font-family: 'Barlow';
  font-weight: 600;
  padding: 12px;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  transition-duration: 500ms;
  transition: ease-in-out;
  transition-property: margin-bottom;
}
.large-light-blue-button:hover {
  color: #101B22;
}

.large-grey-button {
  background: #EAEAEA;
  border-radius: 4px;
  text-decoration: none;
  color: #252525;
  font-family: 'Barlow';
  font-weight: 600;
  text-align: center;
  padding:12px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}
.large-grey-button:hover {
  color: #252525;
  background-color: #f5f5f5;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.button-bottom-landing{
display:inline-block;
margin: 120px 120px;
}
