.background {
  background: url("Topographic.png") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.title{
  text-align: left;
  justify-content: left;
  padding: 20px
}

.form-container {
  margin: auto;
  // margin-top: 100px;
  // margin-bottom: 100px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  outline: none !important;
}

.button-centered{
  justify-content: center;
  display: flex;
}

.form-container-spending {
  margin: auto;
  padding: 32px;
  width: 600px;
  // margin-top: 100px;
  // margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  outline: none !important;
}

#new_spending {
  width: 80%;
}

.primary-orange-button-forms {
  background-color: #FF5D29;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-family: 'Barlow';
  font-weight: 600;
  transition-duration: 0.4s;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  margin-bottom: 20px;
}

::placeholder {
  color: #b0b0b0;
}
