.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 28px;
  font-weight: 600;
  height:10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

.navbar-lewagon-white {
  background-color: white;
  transition:0.5s background-colorease;
}
