.column-names {
  background-color: #101B22;
  color:white;
  border-radius: 8px;
  width: 1290px;
  height: 73px;
  left: 58px;
  top: 473px;
}

.table-event-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
